body { font-family: Open Sans, sans-serif; margin: 0; }
header { display: grid; grid-template-columns: auto 1fr; align-items: center; background: #1094ab; }
.logo { padding: 12px; }
.abas button.ativa { background: #fcb421; }
.formulario { display: grid; grid-template-columns: 1fr 1fr; }
.erros { color: #1094ab; }
